.sllv-video {
	$block: &;
	position: relative !important;
	width: 100% !important;
	aspect-ratio: 16 / 9 !important;
	background-color: #000 !important;
	box-shadow: 0 0 10px rgba(#333, .3) !important;

	&.-state_enabled {
		cursor: pointer !important;
	}

	.wp-editor &,
	.wp-admin & {
		max-width: 600px;
		box-shadow: none !important;
		cursor: pointer;
	}

	& + & {
		margin-top: 1em;
	}

	&__link {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;

		#{$block}.-state_started & {
			display: none !important;
		}
	}

	&__media {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		object-fit: cover !important;
	}

	&__iframe {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		border: none !important;
	}

	&__button {
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		z-index: 1 !important;
		display: none !important;
		padding: 0 !important;
		width: 68px !important;
		height: 48px !important;
		border: none !important;
		background-color: transparent !important;
		cursor: pointer !important;
		transform: translate(-50%, -50%) !important;

		#{$block}.-type_vimeo & {
			width: 76px !important;
			height: 43px !important;
		}

		#{$block}.-state_enabled & {
			display: block !important;
		}

		#{$block}.-state_started & {
			display: none !important;
		}

		.wp-editor &,
		.wp-admin & {
			display: block !important;
		}

		&:focus {
			outline: none !important;
		}
	}

	&__button-shape {
		fill: #212121 !important;
		fill-opacity: .8 !important;

		#{$block}.-type_vimeo & {
			fill: #2a2929 !important;
		}

		#{$block}:hover &,
		#{$block}__button:focus & {
			fill: #f00 !important;
			fill-opacity: 1 !important;
		}

		#{$block}.-type_vimeo:hover &,
		#{$block}.-type_vimeo #{$block}__button:focus & {
			fill: #00adef !important;
			fill-opacity: 1 !important;
		}
	}

	&__button-icon {
		fill: #fff !important;
	}
}
